@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');

@import "tailwindcss";

@plugin "daisyui";

@layer base {
  :root {
    --font-jaini-purva-regular: "Jaini Purva", system-ui;
    --font-caveat-brush-regular: "Caveat Brush", cursive;
    --font-cherry-bomb-one-regular: "Cherry Bomb One", system-ui;
    --font-chau-philomene-one-regular-italic: "Chau Philomene One", sans-serif;
  }

  .font-jaini-purva-regular {
    font-family: var(--font-jaini-purva-regular);
  }

  .font-caveat-brush-regular {
    font-family: var(--font-caveat-brush-regular);
  }

  .font-cherry-bomb-one-regular {
    font-family: var(--font-cherry-bomb-one-regular);
  }

  .font-chau-philomene-one-regular-italic {
    font-family: var(--font-chau-philomene-one-regular-italic);
    font-style: italic;
  }
}